.icon.icon-apple.color:before {
  background-image: url("../images/icons/apple-color.svg");
}
.icon.icon-apple.white:before {
  background-image: url("../images/icons/apple-white.svg");
}
.icon.icon-apple.black:before {
  background-image: url("../images/icons/apple-black.svg");
}
.icon.icon-apple.primary:before {
  background-image: url("../images/icons/apple-primary.svg");
}
.icon.icon-apple.secondary:before {
  background-image: url("../images/icons/apple-secondary.svg");
}
.icon.icon-apple.tertiary:before {
  background-image: url("../images/icons/apple-tertiary.svg");
}
.icon.icon-arrow-down.color:before {
  background-image: url("../images/icons/arrow-down-color.svg");
}
.icon.icon-arrow-down.white:before {
  background-image: url("../images/icons/arrow-down-white.svg");
}
.icon.icon-arrow-down.black:before {
  background-image: url("../images/icons/arrow-down-black.svg");
}
.icon.icon-arrow-down.primary:before {
  background-image: url("../images/icons/arrow-down-primary.svg");
}
.icon.icon-arrow-down.secondary:before {
  background-image: url("../images/icons/arrow-down-secondary.svg");
}
.icon.icon-arrow-down.tertiary:before {
  background-image: url("../images/icons/arrow-down-tertiary.svg");
}
.icon.icon-arrow-left.color:before {
  background-image: url("../images/icons/arrow-left-color.svg");
}
.icon.icon-arrow-left.white:before {
  background-image: url("../images/icons/arrow-left-white.svg");
}
.icon.icon-arrow-left.black:before {
  background-image: url("../images/icons/arrow-left-black.svg");
}
.icon.icon-arrow-left.primary:before {
  background-image: url("../images/icons/arrow-left-primary.svg");
}
.icon.icon-arrow-left.secondary:before {
  background-image: url("../images/icons/arrow-left-secondary.svg");
}
.icon.icon-arrow-left.tertiary:before {
  background-image: url("../images/icons/arrow-left-tertiary.svg");
}
.icon.icon-arrow-right.color:before {
  background-image: url("../images/icons/arrow-right-color.svg");
}
.icon.icon-arrow-right.white:before {
  background-image: url("../images/icons/arrow-right-white.svg");
}
.icon.icon-arrow-right.black:before {
  background-image: url("../images/icons/arrow-right-black.svg");
}
.icon.icon-arrow-right.primary:before {
  background-image: url("../images/icons/arrow-right-primary.svg");
}
.icon.icon-arrow-right.secondary:before {
  background-image: url("../images/icons/arrow-right-secondary.svg");
}
.icon.icon-arrow-right.tertiary:before {
  background-image: url("../images/icons/arrow-right-tertiary.svg");
}
.icon.icon-arrow-up.color:before {
  background-image: url("../images/icons/arrow-up-color.svg");
}
.icon.icon-arrow-up.white:before {
  background-image: url("../images/icons/arrow-up-white.svg");
}
.icon.icon-arrow-up.black:before {
  background-image: url("../images/icons/arrow-up-black.svg");
}
.icon.icon-arrow-up.primary:before {
  background-image: url("../images/icons/arrow-up-primary.svg");
}
.icon.icon-arrow-up.secondary:before {
  background-image: url("../images/icons/arrow-up-secondary.svg");
}
.icon.icon-arrow-up.tertiary:before {
  background-image: url("../images/icons/arrow-up-tertiary.svg");
}
.icon.icon-beaker.color:before {
  background-image: url("../images/icons/beaker-color.svg");
}
.icon.icon-beaker.white:before {
  background-image: url("../images/icons/beaker-white.svg");
}
.icon.icon-beaker.black:before {
  background-image: url("../images/icons/beaker-black.svg");
}
.icon.icon-beaker.primary:before {
  background-image: url("../images/icons/beaker-primary.svg");
}
.icon.icon-beaker.secondary:before {
  background-image: url("../images/icons/beaker-secondary.svg");
}
.icon.icon-beaker.tertiary:before {
  background-image: url("../images/icons/beaker-tertiary.svg");
}
.icon.icon-briefcase.color:before {
  background-image: url("../images/icons/briefcase-color.svg");
}
.icon.icon-briefcase.white:before {
  background-image: url("../images/icons/briefcase-white.svg");
}
.icon.icon-briefcase.black:before {
  background-image: url("../images/icons/briefcase-black.svg");
}
.icon.icon-briefcase.primary:before {
  background-image: url("../images/icons/briefcase-primary.svg");
}
.icon.icon-briefcase.secondary:before {
  background-image: url("../images/icons/briefcase-secondary.svg");
}
.icon.icon-briefcase.tertiary:before {
  background-image: url("../images/icons/briefcase-tertiary.svg");
}
.icon.icon-brush.color:before {
  background-image: url("../images/icons/brush-color.svg");
}
.icon.icon-brush.white:before {
  background-image: url("../images/icons/brush-white.svg");
}
.icon.icon-brush.black:before {
  background-image: url("../images/icons/brush-black.svg");
}
.icon.icon-brush.primary:before {
  background-image: url("../images/icons/brush-primary.svg");
}
.icon.icon-brush.secondary:before {
  background-image: url("../images/icons/brush-secondary.svg");
}
.icon.icon-brush.tertiary:before {
  background-image: url("../images/icons/brush-tertiary.svg");
}
.icon.icon-calendar.color:before {
  background-image: url("../images/icons/calendar-color.svg");
}
.icon.icon-calendar.white:before {
  background-image: url("../images/icons/calendar-white.svg");
}
.icon.icon-calendar.black:before {
  background-image: url("../images/icons/calendar-black.svg");
}
.icon.icon-calendar.primary:before {
  background-image: url("../images/icons/calendar-primary.svg");
}
.icon.icon-calendar.secondary:before {
  background-image: url("../images/icons/calendar-secondary.svg");
}
.icon.icon-calendar.tertiary:before {
  background-image: url("../images/icons/calendar-tertiary.svg");
}
.icon.icon-chevron-down.color:before {
  background-image: url("../images/icons/chevron-down-color.svg");
}
.icon.icon-chevron-down.white:before {
  background-image: url("../images/icons/chevron-down-white.svg");
}
.icon.icon-chevron-down.black:before {
  background-image: url("../images/icons/chevron-down-black.svg");
}
.icon.icon-chevron-down.primary:before {
  background-image: url("../images/icons/chevron-down-primary.svg");
}
.icon.icon-chevron-down.secondary:before {
  background-image: url("../images/icons/chevron-down-secondary.svg");
}
.icon.icon-chevron-down.tertiary:before {
  background-image: url("../images/icons/chevron-down-tertiary.svg");
}
.icon.icon-chevron-left.color:before {
  background-image: url("../images/icons/chevron-left-color.svg");
}
.icon.icon-chevron-left.white:before {
  background-image: url("../images/icons/chevron-left-white.svg");
}
.icon.icon-chevron-left.black:before {
  background-image: url("../images/icons/chevron-left-black.svg");
}
.icon.icon-chevron-left.primary:before {
  background-image: url("../images/icons/chevron-left-primary.svg");
}
.icon.icon-chevron-left.secondary:before {
  background-image: url("../images/icons/chevron-left-secondary.svg");
}
.icon.icon-chevron-left.tertiary:before {
  background-image: url("../images/icons/chevron-left-tertiary.svg");
}
.icon.icon-chevron-right.color:before {
  background-image: url("../images/icons/chevron-right-color.svg");
}
.icon.icon-chevron-right.white:before {
  background-image: url("../images/icons/chevron-right-white.svg");
}
.icon.icon-chevron-right.black:before {
  background-image: url("../images/icons/chevron-right-black.svg");
}
.icon.icon-chevron-right.primary:before {
  background-image: url("../images/icons/chevron-right-primary.svg");
}
.icon.icon-chevron-right.secondary:before {
  background-image: url("../images/icons/chevron-right-secondary.svg");
}
.icon.icon-chevron-right.tertiary:before {
  background-image: url("../images/icons/chevron-right-tertiary.svg");
}
.icon.icon-chevron-top.color:before {
  background-image: url("../images/icons/chevron-top-color.svg");
}
.icon.icon-chevron-top.white:before {
  background-image: url("../images/icons/chevron-top-white.svg");
}
.icon.icon-chevron-top.black:before {
  background-image: url("../images/icons/chevron-top-black.svg");
}
.icon.icon-chevron-top.primary:before {
  background-image: url("../images/icons/chevron-top-primary.svg");
}
.icon.icon-chevron-top.secondary:before {
  background-image: url("../images/icons/chevron-top-secondary.svg");
}
.icon.icon-chevron-top.tertiary:before {
  background-image: url("../images/icons/chevron-top-tertiary.svg");
}
.icon.icon-clock.color:before {
  background-image: url("../images/icons/clock-color.svg");
}
.icon.icon-clock.white:before {
  background-image: url("../images/icons/clock-white.svg");
}
.icon.icon-clock.black:before {
  background-image: url("../images/icons/clock-black.svg");
}
.icon.icon-clock.primary:before {
  background-image: url("../images/icons/clock-primary.svg");
}
.icon.icon-clock.secondary:before {
  background-image: url("../images/icons/clock-secondary.svg");
}
.icon.icon-clock.tertiary:before {
  background-image: url("../images/icons/clock-tertiary.svg");
}
.icon.icon-close.color:before {
  background-image: url("../images/icons/close-color.svg");
}
.icon.icon-close.white:before {
  background-image: url("../images/icons/close-white.svg");
}
.icon.icon-close.black:before {
  background-image: url("../images/icons/close-black.svg");
}
.icon.icon-close.primary:before {
  background-image: url("../images/icons/close-primary.svg");
}
.icon.icon-close.secondary:before {
  background-image: url("../images/icons/close-secondary.svg");
}
.icon.icon-close.tertiary:before {
  background-image: url("../images/icons/close-tertiary.svg");
}
.icon.icon-download.color:before {
  background-image: url("../images/icons/download-color.svg");
}
.icon.icon-download.white:before {
  background-image: url("../images/icons/download-white.svg");
}
.icon.icon-download.black:before {
  background-image: url("../images/icons/download-black.svg");
}
.icon.icon-download.primary:before {
  background-image: url("../images/icons/download-primary.svg");
}
.icon.icon-download.secondary:before {
  background-image: url("../images/icons/download-secondary.svg");
}
.icon.icon-download.tertiary:before {
  background-image: url("../images/icons/download-tertiary.svg");
}
.icon.icon-expand.color:before {
  background-image: url("../images/icons/expand-color.svg");
}
.icon.icon-expand.white:before {
  background-image: url("../images/icons/expand-white.svg");
}
.icon.icon-expand.black:before {
  background-image: url("../images/icons/expand-black.svg");
}
.icon.icon-expand.primary:before {
  background-image: url("../images/icons/expand-primary.svg");
}
.icon.icon-expand.secondary:before {
  background-image: url("../images/icons/expand-secondary.svg");
}
.icon.icon-expand.tertiary:before {
  background-image: url("../images/icons/expand-tertiary.svg");
}
.icon.icon-gear.color:before {
  background-image: url("../images/icons/gear-color.svg");
}
.icon.icon-gear.white:before {
  background-image: url("../images/icons/gear-white.svg");
}
.icon.icon-gear.black:before {
  background-image: url("../images/icons/gear-black.svg");
}
.icon.icon-gear.primary:before {
  background-image: url("../images/icons/gear-primary.svg");
}
.icon.icon-gear.secondary:before {
  background-image: url("../images/icons/gear-secondary.svg");
}
.icon.icon-gear.tertiary:before {
  background-image: url("../images/icons/gear-tertiary.svg");
}
.icon.icon-gears.color:before {
  background-image: url("../images/icons/gears-color.svg");
}
.icon.icon-gears.white:before {
  background-image: url("../images/icons/gears-white.svg");
}
.icon.icon-gears.black:before {
  background-image: url("../images/icons/gears-black.svg");
}
.icon.icon-gears.primary:before {
  background-image: url("../images/icons/gears-primary.svg");
}
.icon.icon-gears.secondary:before {
  background-image: url("../images/icons/gears-secondary.svg");
}
.icon.icon-gears.tertiary:before {
  background-image: url("../images/icons/gears-tertiary.svg");
}
.icon.icon-global.color:before {
  background-image: url("../images/icons/global-color.svg");
}
.icon.icon-global.white:before {
  background-image: url("../images/icons/global-white.svg");
}
.icon.icon-global.black:before {
  background-image: url("../images/icons/global-black.svg");
}
.icon.icon-global.primary:before {
  background-image: url("../images/icons/global-primary.svg");
}
.icon.icon-global.secondary:before {
  background-image: url("../images/icons/global-secondary.svg");
}
.icon.icon-global.tertiary:before {
  background-image: url("../images/icons/global-tertiary.svg");
}
.icon.icon-globe.color:before {
  background-image: url("../images/icons/globe-color.svg");
}
.icon.icon-globe.white:before {
  background-image: url("../images/icons/globe-white.svg");
}
.icon.icon-globe.black:before {
  background-image: url("../images/icons/globe-black.svg");
}
.icon.icon-globe.primary:before {
  background-image: url("../images/icons/globe-primary.svg");
}
.icon.icon-globe.secondary:before {
  background-image: url("../images/icons/globe-secondary.svg");
}
.icon.icon-globe.tertiary:before {
  background-image: url("../images/icons/globe-tertiary.svg");
}
.icon.icon-graph-bar.color:before {
  background-image: url("../images/icons/graph-bar-color.svg");
}
.icon.icon-graph-bar.white:before {
  background-image: url("../images/icons/graph-bar-white.svg");
}
.icon.icon-graph-bar.black:before {
  background-image: url("../images/icons/graph-bar-black.svg");
}
.icon.icon-graph-bar.primary:before {
  background-image: url("../images/icons/graph-bar-primary.svg");
}
.icon.icon-graph-bar.secondary:before {
  background-image: url("../images/icons/graph-bar-secondary.svg");
}
.icon.icon-graph-bar.tertiary:before {
  background-image: url("../images/icons/graph-bar-tertiary.svg");
}
.icon.icon-grid.color:before {
  background-image: url("../images/icons/grid-color.svg");
}
.icon.icon-grid.white:before {
  background-image: url("../images/icons/grid-white.svg");
}
.icon.icon-grid.black:before {
  background-image: url("../images/icons/grid-black.svg");
}
.icon.icon-grid.primary:before {
  background-image: url("../images/icons/grid-primary.svg");
}
.icon.icon-grid.secondary:before {
  background-image: url("../images/icons/grid-secondary.svg");
}
.icon.icon-grid.tertiary:before {
  background-image: url("../images/icons/grid-tertiary.svg");
}
.icon.icon-heart.color:before {
  background-image: url("../images/icons/heart-color.svg");
}
.icon.icon-heart.white:before {
  background-image: url("../images/icons/heart-white.svg");
}
.icon.icon-heart.black:before {
  background-image: url("../images/icons/heart-black.svg");
}
.icon.icon-heart.primary:before {
  background-image: url("../images/icons/heart-primary.svg");
}
.icon.icon-heart.secondary:before {
  background-image: url("../images/icons/heart-secondary.svg");
}
.icon.icon-heart.tertiary:before {
  background-image: url("../images/icons/heart-tertiary.svg");
}
.icon.icon-house.color:before {
  background-image: url("../images/icons/house-color.svg");
}
.icon.icon-house.white:before {
  background-image: url("../images/icons/house-white.svg");
}
.icon.icon-house.black:before {
  background-image: url("../images/icons/house-black.svg");
}
.icon.icon-house.primary:before {
  background-image: url("../images/icons/house-primary.svg");
}
.icon.icon-house.secondary:before {
  background-image: url("../images/icons/house-secondary.svg");
}
.icon.icon-house.tertiary:before {
  background-image: url("../images/icons/house-tertiary.svg");
}
.icon.icon-list-ul.color:before {
  background-image: url("../images/icons/list-ul-color.svg");
}
.icon.icon-list-ul.white:before {
  background-image: url("../images/icons/list-ul-white.svg");
}
.icon.icon-list-ul.black:before {
  background-image: url("../images/icons/list-ul-black.svg");
}
.icon.icon-list-ul.primary:before {
  background-image: url("../images/icons/list-ul-primary.svg");
}
.icon.icon-list-ul.secondary:before {
  background-image: url("../images/icons/list-ul-secondary.svg");
}
.icon.icon-list-ul.tertiary:before {
  background-image: url("../images/icons/list-ul-tertiary.svg");
}
.icon.icon-map-marker.color:before {
  background-image: url("../images/icons/map-marker-color.svg");
}
.icon.icon-map-marker.white:before {
  background-image: url("../images/icons/map-marker-white.svg");
}
.icon.icon-map-marker.black:before {
  background-image: url("../images/icons/map-marker-black.svg");
}
.icon.icon-map-marker.primary:before {
  background-image: url("../images/icons/map-marker-primary.svg");
}
.icon.icon-map-marker.secondary:before {
  background-image: url("../images/icons/map-marker-secondary.svg");
}
.icon.icon-map-marker.tertiary:before {
  background-image: url("../images/icons/map-marker-tertiary.svg");
}
.icon.icon-page.color:before {
  background-image: url("../images/icons/page-color.svg");
}
.icon.icon-page.white:before {
  background-image: url("../images/icons/page-white.svg");
}
.icon.icon-page.black:before {
  background-image: url("../images/icons/page-black.svg");
}
.icon.icon-page.primary:before {
  background-image: url("../images/icons/page-primary.svg");
}
.icon.icon-page.secondary:before {
  background-image: url("../images/icons/page-secondary.svg");
}
.icon.icon-page.tertiary:before {
  background-image: url("../images/icons/page-tertiary.svg");
}
.icon.icon-pause.color:before {
  background-image: url("../images/icons/pause-color.svg");
}
.icon.icon-pause.white:before {
  background-image: url("../images/icons/pause-white.svg");
}
.icon.icon-pause.black:before {
  background-image: url("../images/icons/pause-black.svg");
}
.icon.icon-pause.primary:before {
  background-image: url("../images/icons/pause-primary.svg");
}
.icon.icon-pause.secondary:before {
  background-image: url("../images/icons/pause-secondary.svg");
}
.icon.icon-pause.tertiary:before {
  background-image: url("../images/icons/pause-tertiary.svg");
}
.icon.icon-play.color:before {
  background-image: url("../images/icons/play-color.svg");
}
.icon.icon-play.white:before {
  background-image: url("../images/icons/play-white.svg");
}
.icon.icon-play.black:before {
  background-image: url("../images/icons/play-black.svg");
}
.icon.icon-play.primary:before {
  background-image: url("../images/icons/play-primary.svg");
}
.icon.icon-play.secondary:before {
  background-image: url("../images/icons/play-secondary.svg");
}
.icon.icon-play.tertiary:before {
  background-image: url("../images/icons/play-tertiary.svg");
}
.icon.icon-plus.color:before {
  background-image: url("../images/icons/plus-color.svg");
}
.icon.icon-plus.white:before {
  background-image: url("../images/icons/plus-white.svg");
}
.icon.icon-plus.black:before {
  background-image: url("../images/icons/plus-black.svg");
}
.icon.icon-plus.primary:before {
  background-image: url("../images/icons/plus-primary.svg");
}
.icon.icon-plus.secondary:before {
  background-image: url("../images/icons/plus-secondary.svg");
}
.icon.icon-plus.tertiary:before {
  background-image: url("../images/icons/plus-tertiary.svg");
}
.icon.icon-present.color:before {
  background-image: url("../images/icons/present-color.svg");
}
.icon.icon-present.white:before {
  background-image: url("../images/icons/present-white.svg");
}
.icon.icon-present.black:before {
  background-image: url("../images/icons/present-black.svg");
}
.icon.icon-present.primary:before {
  background-image: url("../images/icons/present-primary.svg");
}
.icon.icon-present.secondary:before {
  background-image: url("../images/icons/present-secondary.svg");
}
.icon.icon-present.tertiary:before {
  background-image: url("../images/icons/present-tertiary.svg");
}
.icon.icon-profile.color:before {
  background-image: url("../images/icons/profile-color.svg");
}
.icon.icon-profile.white:before {
  background-image: url("../images/icons/profile-white.svg");
}
.icon.icon-profile.black:before {
  background-image: url("../images/icons/profile-black.svg");
}
.icon.icon-profile.primary:before {
  background-image: url("../images/icons/profile-primary.svg");
}
.icon.icon-profile.secondary:before {
  background-image: url("../images/icons/profile-secondary.svg");
}
.icon.icon-profile.tertiary:before {
  background-image: url("../images/icons/profile-tertiary.svg");
}
.icon.icon-search.color:before {
  background-image: url("../images/icons/search-color.svg");
}
.icon.icon-search.white:before {
  background-image: url("../images/icons/search-white.svg");
}
.icon.icon-search.black:before {
  background-image: url("../images/icons/search-black.svg");
}
.icon.icon-search.primary:before {
  background-image: url("../images/icons/search-primary.svg");
}
.icon.icon-search.secondary:before {
  background-image: url("../images/icons/search-secondary.svg");
}
.icon.icon-search.tertiary:before {
  background-image: url("../images/icons/search-tertiary.svg");
}
.icon.icon-shrink.color:before {
  background-image: url("../images/icons/shrink-color.svg");
}
.icon.icon-shrink.white:before {
  background-image: url("../images/icons/shrink-white.svg");
}
.icon.icon-shrink.black:before {
  background-image: url("../images/icons/shrink-black.svg");
}
.icon.icon-shrink.primary:before {
  background-image: url("../images/icons/shrink-primary.svg");
}
.icon.icon-shrink.secondary:before {
  background-image: url("../images/icons/shrink-secondary.svg");
}
.icon.icon-shrink.tertiary:before {
  background-image: url("../images/icons/shrink-tertiary.svg");
}
.icon.icon-slideshow.color:before {
  background-image: url("../images/icons/slideshow-color.svg");
}
.icon.icon-slideshow.white:before {
  background-image: url("../images/icons/slideshow-white.svg");
}
.icon.icon-slideshow.black:before {
  background-image: url("../images/icons/slideshow-black.svg");
}
.icon.icon-slideshow.primary:before {
  background-image: url("../images/icons/slideshow-primary.svg");
}
.icon.icon-slideshow.secondary:before {
  background-image: url("../images/icons/slideshow-secondary.svg");
}
.icon.icon-slideshow.tertiary:before {
  background-image: url("../images/icons/slideshow-tertiary.svg");
}
.icon.icon-star.color:before {
  background-image: url("../images/icons/star-color.svg");
}
.icon.icon-star.white:before {
  background-image: url("../images/icons/star-white.svg");
}
.icon.icon-star.black:before {
  background-image: url("../images/icons/star-black.svg");
}
.icon.icon-star.primary:before {
  background-image: url("../images/icons/star-primary.svg");
}
.icon.icon-star.secondary:before {
  background-image: url("../images/icons/star-secondary.svg");
}
.icon.icon-star.tertiary:before {
  background-image: url("../images/icons/star-tertiary.svg");
}
.icon.icon-tools.color:before {
  background-image: url("../images/icons/tools-color.svg");
}
.icon.icon-tools.white:before {
  background-image: url("../images/icons/tools-white.svg");
}
.icon.icon-tools.black:before {
  background-image: url("../images/icons/tools-black.svg");
}
.icon.icon-tools.primary:before {
  background-image: url("../images/icons/tools-primary.svg");
}
.icon.icon-tools.secondary:before {
  background-image: url("../images/icons/tools-secondary.svg");
}
.icon.icon-tools.tertiary:before {
  background-image: url("../images/icons/tools-tertiary.svg");
}
.icon.icon-university.color:before {
  background-image: url("../images/icons/university-color.svg");
}
.icon.icon-university.white:before {
  background-image: url("../images/icons/university-white.svg");
}
.icon.icon-university.black:before {
  background-image: url("../images/icons/university-black.svg");
}
.icon.icon-university.primary:before {
  background-image: url("../images/icons/university-primary.svg");
}
.icon.icon-university.secondary:before {
  background-image: url("../images/icons/university-secondary.svg");
}
.icon.icon-university.tertiary:before {
  background-image: url("../images/icons/university-tertiary.svg");
}
.icon.icon-volume-0.color:before {
  background-image: url("../images/icons/volume-0-color.svg");
}
.icon.icon-volume-0.white:before {
  background-image: url("../images/icons/volume-0-white.svg");
}
.icon.icon-volume-0.black:before {
  background-image: url("../images/icons/volume-0-black.svg");
}
.icon.icon-volume-0.primary:before {
  background-image: url("../images/icons/volume-0-primary.svg");
}
.icon.icon-volume-0.secondary:before {
  background-image: url("../images/icons/volume-0-secondary.svg");
}
.icon.icon-volume-0.tertiary:before {
  background-image: url("../images/icons/volume-0-tertiary.svg");
}
.icon.icon-volume-1.color:before {
  background-image: url("../images/icons/volume-1-color.svg");
}
.icon.icon-volume-1.white:before {
  background-image: url("../images/icons/volume-1-white.svg");
}
.icon.icon-volume-1.black:before {
  background-image: url("../images/icons/volume-1-black.svg");
}
.icon.icon-volume-1.primary:before {
  background-image: url("../images/icons/volume-1-primary.svg");
}
.icon.icon-volume-1.secondary:before {
  background-image: url("../images/icons/volume-1-secondary.svg");
}
.icon.icon-volume-1.tertiary:before {
  background-image: url("../images/icons/volume-1-tertiary.svg");
}
.icon.icon-volume-2.color:before {
  background-image: url("../images/icons/volume-2-color.svg");
}
.icon.icon-volume-2.white:before {
  background-image: url("../images/icons/volume-2-white.svg");
}
.icon.icon-volume-2.black:before {
  background-image: url("../images/icons/volume-2-black.svg");
}
.icon.icon-volume-2.primary:before {
  background-image: url("../images/icons/volume-2-primary.svg");
}
.icon.icon-volume-2.secondary:before {
  background-image: url("../images/icons/volume-2-secondary.svg");
}
.icon.icon-volume-2.tertiary:before {
  background-image: url("../images/icons/volume-2-tertiary.svg");
}
.icon.icon-volume.color:before {
  background-image: url("../images/icons/volume-color.svg");
}
.icon.icon-volume.white:before {
  background-image: url("../images/icons/volume-white.svg");
}
.icon.icon-volume.black:before {
  background-image: url("../images/icons/volume-black.svg");
}
.icon.icon-volume.primary:before {
  background-image: url("../images/icons/volume-primary.svg");
}
.icon.icon-volume.secondary:before {
  background-image: url("../images/icons/volume-secondary.svg");
}
.icon.icon-volume.tertiary:before {
  background-image: url("../images/icons/volume-tertiary.svg");
}
.icon.icon-website.color:before {
  background-image: url("../images/icons/website-color.svg");
}
.icon.icon-website.white:before {
  background-image: url("../images/icons/website-white.svg");
}
.icon.icon-website.black:before {
  background-image: url("../images/icons/website-black.svg");
}
.icon.icon-website.primary:before {
  background-image: url("../images/icons/website-primary.svg");
}
.icon.icon-website.secondary:before {
  background-image: url("../images/icons/website-secondary.svg");
}
.icon.icon-website.tertiary:before {
  background-image: url("../images/icons/website-tertiary.svg");
}
body {
  font-size: 18px;
  font-family: "Helvetica", "Arial", sans-serif;
  color: #000;
}
.icon-example {
  display: inline-block;
  margin: 32px;
  vertical-align: top;
  text-align: center;
}
.icon-example .name {
  opacity: .5;
  margin-top: 20px;
}
.icon {
  display: inline-block;
  text-align: center;
  line-height: 0;
  font-size: 32px;
  vertical-align: bottom;
}
.icon:before {
  content: '';
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 1em;
  background-size: contain;
  width: 1em;
  height: 1em;
  line-height: 1em;
}
.icon.flip-horizontal:before {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.icon.flip-vertical:before {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
.icon.rotate-90:before {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.icon.rotate-180:before {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.icon.rotate-270:before {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.icon.xlarge {
  font-size: 64px;
}
.icon.large {
  font-size: 48px;
}
.icon.small {
  font-size: 16px;
}
