@import 'less-mixins/less-mixins.less';
@import 'icons.less';
@icons-path:'../images/icons/';

body{
    font-size: 18px;
    font-family: "Helvetica", "Arial", sans-serif;
    color:#000;
}

.icon-example{
    display: inline-block;
    margin:32px;
    vertical-align: top;
    text-align: center;

    .name{
        opacity: .5;
        margin-top: 20px;
    }
}

.icon{
    .icon-template();
    font-size: 32px;
    vertical-align: bottom;

    &.xlarge{
        font-size: 64px;
    }
    &.large{
        font-size: 48px;
    }
    &.small{
        font-size: 16px;
    }
}
