<!DOCTYPE html>
<html>
<head>
    <title></title>

    <link rel="stylesheet" type="text/css" href="css/icons.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript">
        $(document).ready();



    </script>

</head>
<body>

    {{#icons}}
        <div class="icon-example">
            <div class="icons">
                <i class="icon icon-{{name}} color xlarge"></i>
                <i class="icon icon-{{name}} black large"></i>
                <i class="icon icon-{{name}} black"></i>
                <i class="icon icon-{{name}} black small"></i>
            </div>
            <div class="name">{{name}}</div>
        </div>
    {{/icons}}

    <script type="text/javascript" src="http://localhost:6212/livereload.js"></script>
</body>
</html>